@import '../Setting.scss';
@import '../Reset.scss';

.signin_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F7F7F7;
  .Form__formSection___3tqxz{
    box-shadow: none !important;
  }
}
